<div>
    <label>
        {{ locale.global.placeholder }}
        <select #localeIdSelect (change)="nbI18nService.setLocaleId(localeIdSelect.value)">
            <option *ngFor="let localeId of localeIds" [value]="localeId"
                [selected]="localeId === locale.localeId">{{ localeId }}</option>
        </select>
    </label>
</div>
<h4>
    文案：{{ locale.empty.description }}
</h4>
<h4>
    日期：{{ now | nbDate: locale.localeId }}
</h4>
<h4>
    货币：{{ 10 | nbCurrency: locale.localeId }}
</h4>
<h4>
    数字转字符串：{{ 3.14 | nbDecimal: locale.localeId }}
</h4>
<h4>
    数字转百分比字符串：{{ 0.259 | nbPercent: locale.localeId }}
</h4>